@font-face {
  font-family: 'anurati';
  src: url('../fonts/Anurati-Regular.otf');
}

#Splash * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#Splash .splash {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

#Splash .video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#Splash .content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6rem auto 0 auto;
  line-height: 6rem;
}

#Splash h1, 
#Splash h2,
#Splash p {
  font-family: 'Oswald';
  text-align: center;
  display: inline-block;
  z-index: 100;
  color: white;
  text-align: center;
}

#Splash h1 {
  width: 100%;
  font-family: "anurati";
  font-size: 5rem;
  letter-spacing: 2.5rem;
  margin: 2.5rem auto 1rem auto;
}

#Splash h2 {
  font-size: 3rem;
}

#Splash p {
  width: 38%;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 2rem;
}

#Splash .redirect {
  width: 95%;
  margin: 7rem auto 0 auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Splash a {
  outline: none;
  /*text-decoration: none;*/
  /*color: white;*/
}

  #Splash a:hover, 
  #Splash a:active,
  #Splash a:focus {
    outline: none;
    text-decoration: none;
    color: white;
  }

#Splash .button {
  border: 1px solid;
  border-radius: 30px;
  border-color: #28a74577;
  padding: 10px;
  width: auto;
}

    @media only screen and (min-width: 600px) and (max-width:768px) {

    #Splash .content {
      margin: 3rem auto 0 auto;
      line-height: 3rem;
    }


    #Splash h1 {
      font-size: 4rem;
      letter-spacing: 2rem;
      margin: 2.5rem auto 1rem auto;
    }

    #Splash h2 {
      font-size: 2.5rem;
    }

    #Splash p {
      width: 50%;
      font-size: 1.5rem;
      line-height: 2rem;
    }



    #Splash .redirect {
      margin: 5rem auto 0 auto;
    }
    }
  
  
  
    @media only screen and (min-width: 426px) and (max-width:600px) {
    #Splash .content {
      margin: 3rem auto 0 auto;
      line-height: 3rem;
    }

    #Splash h1 {
      font-size: 3rem;
      letter-spacing: 1.5rem;
      margin-top: 3rem;
    }

    #Splash h2 {
      font-size: 2rem;
    }

    #Splash p {
      width: 80%;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-top: 0;
      margin-bottom: 0;
    }


    #Splash .redirect {
      width: 100%;
      margin: 4rem auto 0 auto;
      line-height: 1.5rem;
      flex-direction: column;
    }
     }
  
    @media only screen and (min-width: 320px) and (max-width:425px) {
    #Splash .content {
      margin: 0 auto;
      line-height: 2rem;
    }

    #Splash h1 {
      font-size: 2.5rem;
      letter-spacing: 1rem;
      margin: 2rem auto;
    }

    #Splash h2 {
      font-size: 1.5rem;
      margin: 5px;
    }

    #Splash p {
      width: 100%;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-top: 0;
    }


    #Splash .redirect {
      width: 100%;
      margin: 3rem auto 0 auto;
      line-height: 2rem;
      height: auto;
      flex-direction: column;
    }

    
    }