
.back-to-top {
  margin-top: 15px;
  margin-left: 25%;
  width: 170px;
  height: 34px;
  text-align: center;
  display: inline-block;
}

  .back-to-top a {
    font-family: 'Dosis';
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    border: 3px solid #b1e67f;
    width: 170px;
    height: 40px;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: #98d361;
  }

    .back-to-top a:hover {
      background-color: #98d361;
      border-color: #8bc655;
    }

.social-icons ul {
  text-align: right;
  margin-top: 15px;
}

.social-icons li {
  list-style: none;
  display: inline-block;
}

.social-icons a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 35px;
  background-color: #98d361;
  border: 4px solid #b1e67f;
}

  .social-icons a:hover {
    background-color: #98d361;
    border-color: #8bc655;
  }

@media (max-width:992px) {

  footer {
    text-align: center;
  }

  .back-to-top {
    display: inline-block;
    margin-left: 0%;
  }

  .social-icons ul {
    margin-top: 30px;
    padding-bottom: 15px;
    display: inline-block;
    margin-left: 0px;
    margin-right: 40px;
  }
}

@media (max-width:1170px) {

  .cd-timeline-block .projects {
    padding-bottom: 200px;
  }

  #map {
    margin-top: 40px;
  }
}

@media (max-width:767px) {
  .navbar-default .navbar-toggle {
    border-color: #8bc655;
    color: #fff;
  }

    .navbar-default .navbar-toggle:hover {
      background-color: #98e361;
      color: #fff;
    }

  .navbar-default .navbar-nav > li > a {
    padding-bottom: 13px;
    text-align: center;
    border-color: #8bc655;
    border-top: 1px solid #8bc655;
  }

  .contact {
    border-bottom: 1px solid #8bc655;
  }
}

@media (max-width:992px) {

  #big-banner .main-icons {
    text-align: center;
    margin-top: 180px;
  }

    #big-banner .main-icons li {
      list-style: none;
      display: inline-block;
      margin-right: 60px;
    }

    #big-banner .main-icons i {
      font-size: 42px;
      color: #fff;
      display: block;
      padding-bottom: 20px;
    }

      #big-banner .main-icons i:hover {
        color: #8bc655 !important;
      }

    #big-banner .main-icons a {
      display: block;
      font-family: 'Dosis';
      font-size: 16px;
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 40px;
    }
}

@media (max-width:676px) {

  #big-banner .main-icons {
    text-align: center;
    margin-top: 180px;
  }

    #big-banner .main-icons li {
      list-style: none;
      display: inline-block;
      margin-right: 30px;
    }

    #big-banner .main-icons i {
      font-size: 42px;
      color: #fff;
      display: block;
      padding-bottom: 20px;
    }

      #big-banner .main-icons i:hover {
        color: #8bc655 !important;
      }

    #big-banner .main-icons a {
      display: block;
      font-family: 'Dosis';
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 40px;
    }
}

.service-box-content {
  padding: 20px;
}

.cd-timeline-content {
  margin-left: 0;
}

.cd-timeline-block {
  overflow: hidden;
}

  .cd-timeline-block .projects {
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    position: relative;
  }

    .cd-timeline-block .projects img {
      width: 100%;
    }

@media (max-width:768px) {
  .cd-timeline-content,
  .cd-timeline-block .projects {
    margin-top: 60px;
    padding-bottom: 40px;
  }

  #big-banner .main-icons {
    text-align: center;
    margin-top: 120px;
  }
}

@media (max-width:1170px) {
  .cd-timeline-content,
  .cd-timeline-block .projects {
    margin-top: 60px;
    padding-bottom: 10px;
  }
}

@media (max-width:360px) {

  #big-banner .main-icons {
    text-align: center;
    margin-top: 40px;
  }

    #big-banner .main-icons i {
      font-size: 42px;
      color: #fff;
      display: block;
      padding-bottom: 10px;
    }
}

@media (max-width:360px) {

  #big-banner .main-icons {
    text-align: center;
    margin-top: 120px;
  }
}



#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left: 7%;
}



/* Tooltip container */
.customtooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

  /* Tooltip text */
  .customtooltip .customtooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    font-family: 'Oswald';
  }

    /* Tooltip arrow */
    .customtooltip .customtooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }

  /* Show the tooltip text when you mouse over the tooltip container */
  .customtooltip:hover .customtooltiptext {
    visibility: visible;
    opacity: 1;
  }



#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: sticky;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 17px;
}

  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.0s;
    animation: fadein 0.5s, fadeout 0.5s 1.0s;
  }

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}



.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #262626;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.accordion-body {
  padding: 1rem 1.25rem;
  background: #000000;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #ffffff;
  text-align: left;
  background-color: #262626;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}

  .accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #000000;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
  }

  .accordion-button:focus {
    z-index: 3;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }

  .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate( -180deg);
  }

  .accordion-button:hover {
    color: #28a745;
    z-index: 2;
  }

form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

  form input[type=text] {
    border: 0;
    padding: 4px;
  }

  form input[type=link] {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #28a745;
    color: #ffffff;
    transition: 0.3s;
    width: 200px;
    border-radius: 0 4px 4px 0;
  }

    form input[type=link]:hover {
      background: #0a58ca;
    }


img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.progress-bar {
  border-right: solid 5px #FFF;
  font-size: 10px;
}

  .progress-bar:last-child {
    border: none;
  }

#popup {
  width: 100%;
  /*position: absolute;*/
  top: 50px;
  background-color: black;
  margin-top: 100px;
  z-index: 10;
  opacity: 0.8;
}


.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #333;
  padding-left: 0px;
  /* Toggle Sidebar Button */
  /* Search Bar */
}

  .header .toggle-sidebar-btn {
    font-size: 32px;
    /*   padding-left: 10px; */
    cursor: pointer;
    color: #012970;
  }

  .header .search-bar {
    min-width: 360px;
    padding: 0px;
  }

@media (max-width: 1199px) {
  .header .search-bar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 0px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: white;
    z-index: 9999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  .header .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
}

.header .search-form {
  width: 100%;
}

  .header .search-form input {
    border: 0;
    font-size: 14px;
    color: #012970;
    border: 1px solid rgba(1, 41, 112, 0.2);
    padding: 0px;
    border-radius: 3px;
    transition: 0.3s;
    width: 100%;
  }

    .header .search-form input:focus, .header .search-form input:hover {
      outline: none;
      box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
      border: 1px solid rgba(1, 41, 112, 0.3);
    }

  .header .search-form button {
    border: 0;
    padding: 0;
    margin-left: -30px;
    background: none;
  }

    .header .search-form button i {
      color: #fff;
    }

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}

.header-nav > ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-icon {
  font-size: 20px;
  color: #fff;
}

.header-nav .nav-profile {
  color: #fff;
}

  .header-nav .nav-profile img {
    max-height: 36px;
  }

  .header-nav .nav-profile span {
    font-size: 14px;
    font-weight: 600;
  }

.header-nav .badge-number {
  position: absolute;
  inset: 4px 6px auto auto;
  font-weight: normal;
  font-size: 11px;
  padding: 3px 6px;
}

.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}

  .header-nav .notifications .notification-item i {
    margin: 0 20px 0 10px;
    font-size: 24px;
  }

  .header-nav .notifications .notification-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .header-nav .notifications .notification-item p {
    font-size: 13px;
    margin-bottom: 3px;
    color: #fff;
  }

  .header-nav .notifications .notification-item:hover {
    background-color: #f6f9ff;
  }

.header-nav .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
}

  .header-nav .messages .message-item a {
    display: flex;
  }

  .header-nav .messages .message-item img {
    margin: 0 20px 0 10px;
    max-height: 40px;
  }

  .header-nav .messages .message-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #fff;
  }

  .header-nav .messages .message-item p {
    font-size: 13px;
    margin-bottom: 3px;
    color: #fff;
  }

  .header-nav .messages .message-item:hover {
    background-color: #f6f9ff;
  }

.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
}

  .header-nav .profile .dropdown-header h6 {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 600;
    color: #fff;
  }

  .header-nav .profile .dropdown-header span {
    font-size: 14px;
  }

  .header-nav .profile .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
  }

    .header-nav .profile .dropdown-item i {
      margin-right: 10px;
      font-size: 18px;
      line-height: 0;
    }

    .header-nav .profile .dropdown-item:hover {
      background-color: #f6f9ff;
    }

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

@media (min-width: 1200px) {
  #main, #footer {
    margin-left: 0px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {
  .toggle-sidebar #main, .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

  .sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .sidebar-nav .nav-item {
    margin-bottom: 5px;
  }

  .sidebar-nav .nav-heading {
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    margin: 10px 0 5px 15px;
  }

  .sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.3;
    background: #f6f9ff;
    padding: 10px 15px;
    border-radius: 4px;
  }

    .sidebar-nav .nav-link i {
      font-size: 16px;
      margin-right: 10px;
      color: #fff;
    }

    .sidebar-nav .nav-link.collapsed {
      color: #012970;
      background: #fff;
    }

      .sidebar-nav .nav-link.collapsed i {
        color: #fff;
      }

    .sidebar-nav .nav-link:hover {
      color: #fff;
      background: #f6f9ff;
    }

      .sidebar-nav .nav-link:hover i {
        color: #fff;
      }

    .sidebar-nav .nav-link .bi-chevron-down {
      margin-right: 0;
      transition: transform 0.2s ease-in-out;
    }

    .sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
      transform: rotate(180deg);
    }

  .sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
  }

    .sidebar-nav .nav-content a {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      transition: 0.3;
      padding: 10px 0 10px 40px;
      transition: 0.3s;
    }

      .sidebar-nav .nav-content a i {
        font-size: 6px;
        margin-right: 8px;
        line-height: 0;
        border-radius: 50%;
      }

      .sidebar-nav .nav-content a:hover, .sidebar-nav .nav-content a.active {
        color: #fff;
      }

        .sidebar-nav .nav-content a.active i {
          background-color: #28a745;
        }

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    transition: 0s;
    text-decoration: none;
  }
  .navbar a:hover {
    text-decoration: underline;
  }
    .navbar a i, .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }

    .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
      color: #28a745;
    }

  .navbar .getstarted, .navbar .getstarted:focus {
    background: #28a745;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
  }

    .navbar .getstarted:hover, .navbar .getstarted:focus:hover {
      color: #fff;
      background: #5969f3;
    }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: hidden;
    background: #333;
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 5px #28a74577;
  }

    .navbar .dropdown ul li {
      min-width: 200px;
    }

    .navbar .dropdown ul a {
      padding: 10px 20px;
      font-size: 15px;
      text-transform: none;
      font-weight: 600;
    }

      .navbar .dropdown ul a i {
        font-size: 12px;
      }

      .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
        color: #28a745;
      }

  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0s;
}

  .mobile-nav-toggle.bi-x {
    color: #fff;
  }

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 60px;
  width: 70%;
  right: 0;
  left: 0;
  bottom: 0;
  /*   background: rgba(1, 22, 61, 0.9); */
  transition: 0s;
  opacity: 0.8;
}

  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
  }

  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 0px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #262626;
    overflow-y: auto;
    transition: 0.3s;
    box-shadow: 0px 0px 5px 5px #28a74577;
  }

  .navbar-mobile a, .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #fff;
  }

    .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
      color: #28a745;
    }

  .navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
    margin: 15px;
  }

  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #262626;
    box-shadow: 0px 0px 5px 5px #28a74577;
  }

    .navbar-mobile .dropdown ul li {
      min-width: 200px;
    }

    .navbar-mobile .dropdown ul a {
      padding: 10px 20px;
    }

      .navbar-mobile .dropdown ul a i {
        font-size: 12px;
      }

      .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
        color: #28a745;
      }

  .navbar-mobile .dropdown > .dropdown-active {
    display: block;
  }



img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

* {
  margin: 0 auto;
  text-align: center;
  width: auto;
  height: auto;
}

header>* {
  margin: 0px;
}

.row>* {
  margin-bottom: 30px;
}

.text-middle {
  vertical-align: middle;
}

#onramper-widget {
  height: 100%;
  width: 100%;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.text-left {
  text-align: left;
}

video{
  object-fit: initial;
  width: 400px;
  height: 300px;
}

red {
  color: #ea4817;
}

green {
  color: #28a745;
}

.day {
  color: #494949;
  background-color: #dadada;
}

.night {
  color: #aaaaaa;
  background-color: #262626;
}

.center {
  margin: 0 auto;
}

.small-icon {
  width: 2em;
  margin: 5px;
}

.hide {
  display: none;
}

.flex {
  display: flex!important;
}

.hover:hover + .hide {
  display: block;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.tooltip {
  background-color: #262626;
  color: #aaaaaa;
  opacity: 1;
}

.no-underline {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.table {
  display: table;
  width: auto;
  table-layout: fixed;
  color: #aaaaaa;
}

.cell {
  display: table-cell;
}

.table > :not(caption) > * > * {
  padding: 0px;
}

.basic-font {
  font-family: "Poppins", sans-serif;
}

.thin-font {
  font-weight: 100;
}

p {
  margin: 0;
}

day-body {
  background-color: #cacaca;
  color: #282828;
}

day-h1 {
  color: #000;
}

#Banner h1 {
  font-size: 50px;
}

@media (max-width: 992px) {
  #Banner h1 {
    font-size: 40px;
  }
}

#Banner p {
  font-size: 30px;
}

.font-size {
  font-size: 18px!important;
}
@media (max-width: 992px) {
  #Banner p {
    font-size: 20px;
  }
  .font-size {
    font-size: 12px !important;
  }
}

.ui-widget-content a {
  color: #28a745;
}