.container {
    color:white;
    background-color: #262626;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 0;    
}

.audits {    
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    margin: 3rem auto 1rem auto;
    padding:0;
}

.audits h1,
.listings h1 {
    margin-bottom: 1rem;
}

.auditImages {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    object-fit: contain;
}


.auditImages img {
    width: 40%;
    height: 40%;
}


.listings {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    margin: 2rem auto 3rem auto;
    padding:0;

}
.listingsImages {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    object-fit: contain;  
}

.listings img {
    width: 20%;
    height: 20%;
    margin: 0 auto;
    padding: 0.5rem;
}



