.footer {
    width: 100%; 
    height: 100%;
    background-color:#262626;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.footerInfo {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}



.footer h4 {
    color: #28A745;
}

.logoImg {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}


.footer img {
    width: 80px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem;
    line-height: 1.5rem;
}

.info p {
    color: white;
}


.socialMedia { 
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.socialMedia p {
    margin-right: 1rem;
}


.socialMedia .icon {
    width: 30px;
    height: 30px;
    color: #28A745;
    margin-left: 1rem;
}
